@font-face {
    font-family: mainFont;
    src: url(../font/Vazirmatn-Regular.woff2);
}

body {
    
    background-color: #f4f4f4;
    font-family: mainFont;
    margin: 0;
    overflow-x: hidden;
    
}

#header {
    background-color: rgb(57,204,203);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1001; 
    padding-left: 15px;
}

.p{
    font-size: 18px; 
    display: flex; /*  برای قرار دادن تصویر و نام در یک خط */
    align-items: center; /* تصویر و نام همتراز باشند*/
    
 
}
.img{  
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 5px;
 
}
.logo {
    width: 110px;
    height: 70px;
    display: flex;
   justify-content: space-between; 
}

.icon {
    padding: 5px;;
         width: 30px; 
         height: 30px; 
    }
  
.icon:hover {
  background-color:red;
     width: 30px; 
     height: 30px; 
  }
  
#wrap {
    margin-top: 70px; 
}

#menu-toggle {
    background: none;
    border: none; 
    font-size: 24px; 
    cursor: pointer;
}
#sidebar {
    width: 150px;
    background-color: #f4f4f4; 
    position: fixed;
    right: -250px; 
    top: 80px;
    height: calc(100% - 60px);
    transition: right 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 

}

#sidebar a {
    text-decoration: none;
}
#sidebar.visible {
    right: 0; 
}

#sidebar ul {
    list-style: none; 
    text-decoration: none;
    padding: 0; 
    margin: 0; 
}

#sidebar li {
    display: flex; 
    align-items: center; 
    padding: 15px 20px; 
    transition: background-color 0.3s; 
}

#sidebar li:hover {
    background-color: #e0e0e0; 
}

#sidebar img {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}

.menu-text {
    display: inline; 
    font-size: 16px; 
    color: #333; 
}

.sidebar-collapsed .menu-text {
    display: none; 
}

.page-title{
    background-color:rgb(57,204,203) ;
    padding: 10px;
    margin-top: 50px ;
    margin-bottom: 50px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    
}

/* Style the tab */
.tab {
    /* margin-right: 100px; */
    overflow: hidden;
    font-family: mainFont;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #308ba2;
    /* border-radius: 25px; */
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(57,204,203);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;  
    margin-right: 100px;
  }
  .tablinks{
    font-family: mainFont;
    font-size: medium;
    margin-right: 100px;
  }


  .job-card {
   
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.company-logo {
   width: 80px; /* اندازه لوگو */
   height: auto; /* حفظ نسبت ابعاد */
   margin-right: 10px; /* فاصله از متن */
   margin-left: 15px;
}

.job-details {
   flex-grow: 1; /* اجازه می‌دهد تا فضای باقی‌مانده را اشغال کند */
}

.job-title {
   
   font-size: 1.2em;
   color: #333;
}

.company-name {
   color: #666;
}

.city {
   color: #888; /* رنگ خاکستری برای آدرس شهر */
}

.salary {
   font-weight: bold;
}

.button-group {
   display: flex; /* استفاده از Flexbox برای دکمه‌ها */
   flex-direction: row; /* چیدمان افقی در حالت دسکتاپ */
   gap: 10px; /* فاصله بین دکمه‌ها */
   margin-top: auto; /* تراز دکمه‌ها در پایین کارت */
}

/* استایل دکمه‌ها */
.related-job-button {
    font-size: 1em;
   display: inline-block;
   padding: 10px 15px;
   background-color:white ;
   color: rgb(57,204,203);
   text-decoration: none;
   border-color:rgb(57,204,203) ;
   border-radius: 5px;
}

.apply-button:hover,
.resume-button:hover {
   background-color: rgb(45,164,164); /* تغییر رنگ دکمه در حالت هاور */
}


.dropbtn {
    color: rgb(57, 204, 203);
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
    font-family: mainFont;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;  
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 100px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    border-radius: 30PX;
}

.dropdown-content a {
    background-color: rgb(57, 204, 203);
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 30PX;

}

.dropdown-content a:hover {
    background-color:#308ba2;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    background-color: rgb(57, 204, 203);
    color: white;
    border-radius: 30PX;

}

.main-content{
    margin: 50px;
    font-family: mainFont;

}

#footer {
    background-color: rgb(57, 204, 203);
    color: white;
    padding-bottom: 20px;
    position: relative; 
    bottom: 0;
    top: 10px;
    width: 100%;
    z-index: 1001; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.contact-info, .social-media {
    flex: 1; 
    margin: 0 20px; 
}

.social-media a {
    margin-right: 10px; 
}

.social-media img {
    width: 30px; 
    height: auto;
}

.footer-bottom {
    text-align: center; 
    margin-top: 20px; 
}
.logofooter{
    width: 150px;
    height: 100px;
    margin: 25px;
}


.results-section {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.chart-container {
width:35% ;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
/* @media (max-width: 600px) { 
    .chart-container {
        margin: 5px; 
    }
} */
.recommendation-box {
    width: 35%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.recommendation-box h3 {
    color: rgb(57, 204, 203);
    margin-bottom: 15px;
    font-size: 1.2em;
}

.recommendation-box ul {
    list-style-type: disc;
    padding-right: 20px;
}

.recommendation-box li {
    margin-bottom: 10px;
    color: #333;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(48,139,161);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 1002;
}

.chat-icon:hover {
    animation: shake 1s; /* افکت لرزش */
}

.chat-tooltip {
    position: absolute;
    bottom: 60px;
    right: -10px;
    background-color: rgb(57,204,203);
    color: rgb(5, 4, 4);
    padding: 5px;
    border-radius: 5px;
    display: none; /* پنهان کردن tooltip */
}

.chat-icon:hover .chat-tooltip {
    display: block; /* نمایش tooltip هنگام هاور */
}

.chat-container {
    display: none; /* پنهان کردن پنجره چت */
    width: 400px;
    position: fixed;
    bottom: 80px; /* فاصله از پایین */
    right: 20px; /* فاصله از راست */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1002;

}

.chat-header {
    background-color: rgb(57,204,203);
    color: white;
    padding: 10px;
    display: flex; 
    justify-content: space-between; /* فاصله بین عنوان و دکمه بستن */
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}
.chat-btm{
    display: flex;
    justify-content: center;
    
}
.chat-messages div {
    margin-bottom: 10px;
    padding: 10px; /* فضای داخلی برای متن */
    border: 1px solid rgb(57,204,203); /* رنگ حاشیه */
    border-radius: 5px; /* گوشه‌های گرد */
    background-color: #e7f3ff; /* رنگ پس‌زمینه پیام */
    max-width: 80%; /* حداکثر عرض پیام */
    word-wrap: break-word; /* شکستن کلمات در صورت نیاز */
    align-self: flex-end; /* راست چین کردن پیام */
}


#chatMessageInput {
    width: calc(100% - 100px);
    padding: 10px;
}

#chatSendButton {
    padding: 10px;
}

/* افکت لرزش */
@keyframes shake {
   0% { transform: translate(0); }
   25% { transform: translate(-2px, 0); }
   50% { transform: translate(2px, 0); }
   75% { transform: translate(-2px, 0); }
   100% { transform: translate(0); }
}
.btn-send-chat{
    background-color: rgb(57,204,203);
    border-radius: 5px;
    margin-right: 5px;

}
.btn-close-chat{
    border: none;
}
#chatCloseButton{
    background-color: rgb(57,204,203);
    border: none;
}

@media (max-width: 600px) {
    .results-section {
        flex-direction: column;
    }

    .chart-container,
    .recommendation-box {
        width: 90%;
        margin-bottom: 20px;
    }
    .main-content {
        margin: 10px; 
    }
    .dropdown-content {
        left: 0; /* منو به سمت چپ صفحه قرار می‌گیرد */
        right: auto; /* اطمینان از عدم نمایش در سمت راست */
    }
    .dropbtn {
        width: 70px;
    }
    .job-list {
        margin-bottom: 20px;
        direction: rtl;
        margin-bottom: 20px;
        grid-template-columns: repeat(1, 1fr); /* یک باکس در هر خط در موبایل */
       }
       .job-card {
        flex-direction: column; /* چیدمان عمودی در موبایل */
        align-items: flex-start; /* تراز به سمت چپ */
        margin: 20px;
    }
       .button-group {
           flex-direction: row; /* چیدمان افقی دکمه‌ها در موبایل */
           gap: 10px; /* فاصله بین دکمه‌ها */
           margin-top: 10px; /* فاصله بالای دکمه‌ها */
           justify-content: center; /* تراز به مرکز */
       }
    
       .company-logo {
           margin-bottom: 10px; /* فاصله زیر لوگو */
       }
       .tablinks {
        margin-right: 0; 
    }
    .tabcontent{
        margin-right: 0;
    }
    
      
}
